.block-tab {
    position: relative;
}


.block-tab > h1 {
    font-size: 12px;
    background: #FDB813;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
.block {
    border: 1px solid #eaeaea;
    background: #524e4e;
    position: relative;
    overflow: hidden;
}