.Card-homepage-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 20px;
}
.movie-box{
    background-color: #FDB813;
    width: 150px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px;
    margin-top: 20px;
}
.intro-home{
    text-align: center;
    font-size: 18px;
    color: rgb(212, 210, 210);
    margin: 20px 0 50px 0;
}
