.swiper-container{
    background-color: rgb(21, 21, 21);
    height: fit-content;
    margin: 0;
    border-radius: 15px ;
    .single-swiper{
        display: inline;
        background-color: rgb(16, 15, 15);
        color: white;
        margin: 0 auto;
        height: fit-content;
    }
}